body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://img.freepik.com/vector-gratis/fondo-bitcoin-mapa_1017-10077.jpg');
  background-size: cover;
  color: #ffffff;

}

.mon {
  letter-spacing: 2px;
  border: solid 3px #000000;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;;

}

.encabezado {
  font-family:'Creepster';
  font-size: 60px;
  line-height: 1.5;
  filter: contrast(200%);
  text-shadow: 2px 2px 4px rgb(2, 2, 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.END {
  font-size: 40px;
  font-family: 'Creepster';
  color: #000000;
}

.man {
  background-image: linear-gradient(to right, #ffffff, #ed9090);
  border-radius: 10px;
  width: 25%;
  height: 2rem;
  padding: 0;
  border: 1px solid #f1d9d9;
}

.crip {
  font-size: 30px;
  font-family: 'Creepster';
  color: #000000;
}

.weee {
  background-image: linear-gradient(to right, #ffffff, #ed9090);
  border-radius: 8px;
  width: 30%;
  height: 2rem;
  padding: 0;
  border: 1px solid #f1d9d9;
}

.cotiza {
  background-image: linear-gradient(to right, #ffffff, #ed9090);
  border-radius: 10px;
  width: 20%;
  height: 2rem;
  appearance: none;
  padding: 0;
  border: 1px solid #f1d9d9;

}

.resultado {

  font-size: 20px;
  font-family: 'Impact';
  color: #000000;

}

.listaMoneda {
  background-image: linear-gradient(to right, #ffffff, #ed9090);
  border-radius: 10px;
}
.completo{
  display: flex;
  justify-content: center;
  align-items: center;
}
